---
layout: table_wrappers
---

<!DOCTYPE html>

<html lang="{{ site.lang | default: 'en-US' }}" class="{{ page.html_class | default: " page" }}">
{% include head.html %}

<body>
	<header>
		<h1><a href="{{ '/' | relative_url }}">Rockstar</a></h1>
		<h2>Tommy used to work on the docs</h2>
	</header>
	<nav>
		<a href="{{ '/' | relative_url }}">Home</a>
		<a href="{{ '/docs' | relative_url }}">Docs</a>
		<a href="{{ '/online' | relative_url }}">Try It</a>
		<a href="{{ '/news' | relative_url }}">News</a>
		<a href="{{ '/merch' | relative_url }}">Merch</a>
		<a href="{{ '/community' | relative_url }}">Community</a>
	</nav>
	{{ content }}
	<footer>
		<div>
			rockstar created by <a href="https://dylanbeattie.net/">dylan beattie</a>
			• copyright © 2018-2024 dylan beattie
			• <a href="hello@codewithrockstar.com">hello@codewithrockstar.com</a>
		</div>
		<div>
			<a href="{{ '/code-of-conduct' | relative_url }}">code of conduct</a>
			• <a href="https://github.com/RockstarLang/rockstar">code on github</a>
			• <a href="https://app.usefathom.com/share/xefkzvqw/codewithrockstar.com">analytics by fathom</a>
		</div>
	</footer>
</body>

</html>